body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    /* position: absolute */
    float: left;
    margin-top: -28px;
    margin-left: 40px;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_button{
    padding: 5px;
    background: #ffffff;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(224, 125, 67);
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_button:hover{
    background: #f78f5f;
    color:rgb(255, 255, 255)
  }
  
  .sidebar {
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  
  .sidebar .profile_image{
    width: 140px;
    height: 150px;
    border-radius: 00px;
    margin-bottom: 10px;
  }
  
  .sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_button{
    z-index: 1;
    color: #fff;
    /* position: fixed; */
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_button:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -190px;
  }

 
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  .content{
    margin-left: 250px;
    background: url(./Images/background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check{
    display: none;
  }
                             