body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  html,body{overflow-y: scroll; }
  
  header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
  }
  
            #check:checked ~ .container
            {
        
                z-index: 2;
                position: fixed;
                left: 8%; 
                top: 10%;
                background-color: rgba(0, 0, 00, 0.3);
                background-position: center;
                background-size: cover;
                float: center;
                height: 88%;
                width: 90%;
                opacity: 100%;
                border-radius: 20px;
                position: center;
                background-size: cover;  
                transition: 0.5s;  
                margin-left: 30px;
                margin-right: 80px;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 20px;
                max-width: 80%;
                color: white;
                padding-right: 20px;
                max-height: 80%;
                overflow-y: scroll;
                
            }
            .container
            {
                z-index: 2;
                position: fixed;
                left: 18%; 
                top: 10%;
                background-color: rgba(0, 0, 00, 0.3);
                background-position: center;
                background-size: cover;
                margin-top: 20px;
                margin-bottom: 20px;
                float: center;
                height: 88%;
                width: 90%;
                opacity: 100%;
                border-radius: 20px;
                position: center;
                background-size: cover;  
                transition: 0.5s;  
                margin-left: 150px;
                padding:20px;
                max-width: 58%;
                color: white;
                padding-right: 20px;
                max-height: 80%;
                overflow-y: scroll;
            }
            .activityButton
            {
                padding: 5px;
                background: #ffffff;
                text-decoration: none;
                
                /* margin-top: -30px;
                margin-right: 40px; */
                border-radius: 5px;
                font-size: 15px;
                font-weight: 600;
                color: rgb(224, 125, 67);
                transition: 0.5s;
                margin-left: 20px;
                transition-property: background;
            }
            
            .activityButton:hover
            {
                background: #f78f5f;
                color:rgb(255, 255, 255)
            }
            
            
        
  
  .left_area h3{
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    /* position: absolute */
    float: left;
    margin-top: -28px;
    margin-left: 40px;
  }
  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_button{
    padding: 5px;
    background: #ffffff;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(224, 125, 67);
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_button:hover{
    background: #f78f5f;
    color:rgb(255, 255, 255)
  }
  
  .sidebar {
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: scroll;
  }
  
  .sidebar .profile_image{
    width: 140px;
    height: 150px;
    border-radius: 00px;
    margin-bottom: 10px;
  }
  
  .sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_button{
    z-index: 1;
    color: #fff;
    /* position: fixed; */
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_button:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -190px;
  }

 
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }
  
  .content{
    margin-left: 250px;
    background: url(./Images/background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check{
    display: none;
  }
  body {
    font: normal medium/1.4 sans-serif;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
  }
  body tr:hover {
    background: rgb(87, 87, 85);
  }
            
